frontpage,
.intro,
.project,
.skills,
.contact {
    padding-top: 4rem;
    height: 300px;
}

.frontpage,
.skills,
.contact {
    background-color: lightgray;
}

* {
    font-family: "Single Day", serif;
    font-weight: 400;
    font-style: normal;
}

/* 500px 미만일 때 intro의 배경색을 빨간색으로 */
@media screen and (max-width: 500px) {
    .intro {
        background-color: red;
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}